/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/.idea
/.idea *
/public/assets
/public/system/*
.rvmrc
db/schema.rb
.generators
.rakeTasks
Gemfile.lock

/node_modules
/yarn-error.log

.byebug_history
