<p id="notice"><%= notice %></p>

<h1>Historico Atividades</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @historico_atividades.each do |historico_atividade| %>
      <tr>
        <td><%= historico_atividade.status %></td>
        <%= link_to 'Voltar',atividade_path(historico_atividade.atividade) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

