<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @historico_atividade.status %>
</p>

<%= link_to 'Edit', edit_historico_atividade_path(@historico_atividade) %> |
<%= link_to 'Back', historico_atividades_path %>
