
<% if projeto.errors.any? %>
  <div id='alertaErro' class="alert alert-danger alert-dismissible fade show alertaCadastro" role="alert">
    <div>
      <h4>
        <%= pluralize(projeto.errors.count, "error") %> proibe esse projeto de ser salvo:
      </h4>
      <ul>
        <% projeto.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>