<div class="div-centro">
  <div class="container novo-projeto rotulo">

    <div class="row-sm" style="text-align: center">
      <h2>Editar projeto</h2>
    </div>
    <%= render 'form', projeto: @projeto %>
  </div>
  <%= render 'mensagem_erro', projeto: @projeto %>
</div>
