<div class="div-centro">
  <div class="container novo-projeto rotulo">

  <div class="row-sm">
    <h2>Novo projeto</h2>
  </div>
  <div class="row-sm">

    <%= render 'form', projeto: @projeto %>

  </div>

</div>

</div>