<h1>Editing Atividade</h1>
<<<<<<< HEAD
<%= render 'atividades/editarAtividade', atividade: @atividade%>
=======

>>>>>>> Criando e editando arquivos ao adicionar associacoes
<%= link_to 'Show', projeto_atividade_path(@atividade) %>
<%= link_to 'Back', projeto_path(@atividade.projeto) %>
