<div class="div-centro">
  <div class="container nova-atividade rotulo">

    <div class="row-sm div-centro">
      <h2>New Atividade</h2>
    </div>
    <div class="row-sm">

      <%= render 'form', atividade: @atividade %>

    </div>

  </div>

</div>