<h1><strong>Bem vindo</strong></h1></h1>

  <%if usuario_signed_in?%>
  <ul>
    <li><%= link_to 'Sair', destroy_usuario_session_path,method: :delete%></li>
    <li><%= link_to 'Projetos', projetos_path(current_usuario.projetos)%></li>
  </ul>
  <%else %>
  <ul>
    <li><%= link_to 'Cadastro  de novo Usuário',new_usuario_registration_path%></li>
    <li><%= link_to 'Logar',new_usuario_session_path%></li>
  </ul>
<%end %>

