<div class="div-centro">
  <div class="container nova-bibliografia rotulo">

    <div class="row-sm div-centro">
      <h2>Nova bibliografia</h2>
    </div>
    <div class="row-sm">

      <%= render 'form', bibliografium: @bibliografium %>

    </div>

  </div>

</div>

