<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @bibliografium.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @bibliografium.descricao %>
</p>
<%= link_to 'Back', projeto_path(@bibliografium.projeto) %>
