
<% if trabalho.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show alertaCadastro" role="alert">

    <div>
      <h4>
        <%= pluralize(trabalho.errors.count, "error") %> Proibe esse integrante de ser adicionado:
      </h4>
      <ul>
        <% trabalho.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>