<p id="notice"><%= notice %></p>

<p>
  <strong>Funcao:</strong>
  <%= @trabalho.funcao %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @trabalho.usuario.nome %>
</p>
<%= link_to 'Back', projeto_path(@trabalho.projeto) %>
