
.logo{
  width: 200px;
  height: 200px;
}
.rotulo{
  text-align: right;
  color: #ffffff;
}
.div-centro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.login ,.cadastro, .novo-projeto, .projetos,
.integrantes-projeto, .atividades-projeto,
.bibliografia-projeto, .nova-bibliografia,
.nova-atividade{
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #242939;


  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;

}
.nova-bibliografia{
  height: auto;
}
textarea.bibliografia-descricao{
  height: 100px;
  resize: none;
}
textarea.descricao{
  height: 245px;
  resize: none;
}
.nova-atividade{
  width: 600px;
}
.integrantes-projeto, .bibliografia-projeto, .atividades-projeto{
  height: auto;
  width: auto;
  margin-top: inherit;
}
.atividades-projeto{
  width: 600px;
}
.oi-plus{
  color: green;
}
.projetos{
  width: 750px;
}
.alertaFlutuante, .alertaCadastro{
  position: absolute;
  margin: 10px;
  top: 60px;
  right: 0px;
}
.alertaCadastro{
  width: 450px;
}
.textoCentralizado{
  text-align: center
}
.cadastro{
  height: 550px;
}

.layout-cabecacalho { grid-area: header; }
.layout-menu-esquerdo {
  grid-area: menu;
}
.layout-main { grid-area: main; }
.layout-rodape { grid-area: footer; }

.grid-layout {
  display: grid;
  grid-template-areas:
          'header header  header'
          'main main  main'
          'footer footer footer';
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 50px auto 100px;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 0px;
  height: 100%;
}

.grid-layout > div {
  background-color: #d2d2d2;
}
.grid-container-projeto {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.accordion{
  text-align: center;
  width: 100%;
}
.card-header, .card-body{
  padding: 5px;
}
.card{
  background: #242939;

}
.dropMenu{
  background: #171c2d;
}
.logo{
  width: 200px;
  height: 200px;
}
.menuEsquerdo{
  background-color: #242939;
  opacity: 1;
  box-sizing: border-box;
  width: 200px;
  height: 100%;

}